@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

body {
    margin: 0%;
    font-family: 'Karla', sans-serif;
}

.container { 
    margin: 0%;
    flex-direction: column;
}

.container2 {
    display: flex;
    flex-direction: row;
    color: #fff;
    max-height: 50%;
}

.box1 {

    display: flex;
    flex-direction: column;
    max-height: 50%;
    padding: 0% 6% 2%;
    background-color: white;
    color: grey;
    font-size: 2.2rem;
}

.box1 h1 {
    line-height: 0.65;
    color: hsl(179, 62%, 43%);
    font-weight: 700;
    font-size: 1.5em;
}

.box1 h2 {
    color: hsl(71, 73%, 54%);
    font-weight: 700;
    font-size: 2.49rem;
}

.box2 {
    padding: 0% 6% 2%;
    background-color: hsl(179, 62%, 43%);
    width: 50%;
    line-height: 0.5;
}

.box2 h5 {

    font-weight: 700;
    font-size: 2.4rem;
}

.box2 h {
     
    display: inline;
    font-weight: 700;
    font-size: 2rem;
}

.box2 .faded {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.47);
}

.box2 p {
    font-size: 2rem;
}

button {
    padding: 2% 37% 2%;
    color: white;
    background: hsl(71, 73%, 54%);
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 2rem;
    font-weight: 400;
}


button:hover {
    background: white;
    border: 1px solid hsl(71, 73%, 54%);
    color: hsl(71, 73%, 54%);
}

.box3 {
    padding: 0% 6% 2%;
    background-color: hsl(172, 72%, 54%);
    width: 50%;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(250, 245, 245, 0.767);
    line-height: 1.5;
}

.box3 h5 {
    line-height: 0.04;
    font-weight: 700;
    font-size: 2.4rem;
    color: #fff;
}

footer {
    text-align: center;
} 
