@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {

    background-color: hsl(204, 43%, 93%);
}

body {
    width: 100%;
    height: 100%;
    margin: 0%;
    font-size: 40%;
    font-family: 'Karla', sans-serif;
}

.container {
    display: flex;
    margin: 4% auto 1%;
    width: 50%;
    height: 100%;
    flex-direction: column;
    
}

.container2 {
    display: flex;
    flex-direction: row;
    color: #fff;
    
}

.box1 h2 {
    color: hsl(179, 62%, 43%);
    font-weight: 700;
    font-size: 18px;
}

.box1 h5 {

    color: hsl(71, 73%, 54%);
    font-weight: 700;
    font-size: 13.5px;
}

.box1 {
    padding: 1% 6% 4%;
    background-color: white;
    color: grey;
    font-size: 12px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.box2 h5 {

    font-weight: 700;
    font-size: 14px;
}

.box2 h3 {
    /* font-size: x-large; */
    display: inline;
    font-weight: 700;
    font-size: 20px;
}

.box2 .faded {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.47);
}
.box2 p{
    font-size: 11.3px;
}
.box2 {
    padding: 1% 6% 4%;
    background-color: hsl(179, 62%, 43%);
    width: 50%;
    border-bottom-left-radius: 5px;
}
button {
    padding: 4% 37% 4%;
    color: white;
    background: hsl(71, 73%, 54%);
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: x-small;
    font-weight: 700;
}
button:hover{
    background: white;
    border: 1px solid hsl(71, 73%, 54%);
    color: hsl(71, 73%, 54%);
}
.box3 h5{
    font-weight: 700;  
    font-size: 13.8px; 
    color: #fff;
}
.box3 {
    display: block;
    padding: 1% 6% 4%;
    background-color: hsl(172, 72%, 54%);
    width: 50%;
    font-size: 8px;
    font-weight: 400;
    color: rgba(250, 245, 245, 0.767);
    line-height: 1.5;
    border-bottom-right-radius: 5px;
}
footer{
    text-align: center;
}